<ul class="nav nav-list">
  {{#linkTo "index" tagName="li" href=false}}<a {{bindAttr href="view.href"}}>Home</a>{{/linkTo}}
  {{#linkTo "other" tagName="li" href=false}}<a {{bindAttr href="view.href"}}>Other</a>{{/linkTo}}
</ul>
